# Public runtime configuration. These values are exposed to the browser.
PUBLIC_MINECRAFT_API_URL=https://mc-api.ferreras.dev
PUBLIC_ANALYTICS_PROVIDER=plausible
PUBLIC_PLAUSIBLE_SCRIPT_URL=https://plausible.carlosferreras.com/js/script.hash.outbound-links.pageview-props.tagged-events.js
